.text-fly-in {
    animation: fly-in 1s;
}

.fall-like-drunk:hover {
    animation: fall-like-drunk-down 2s alternate-reverse infinite;
}

@keyframes fly-in {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fall-like-drunk-down {
    0% {
        transform: translate(-20px);
    }  
    100% {
        transform: translate(0);
    }
}