html,
body {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.fly-from-left {
  animation: fly-from-left 0.5s ease-out;
}

@keyframes fly-from-left {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

.fly-in {
  animation: fly-in 0.5s ease-out;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateX(-10%) rotateY(20deg);
  }
  to {
    transform: translateX(0);
  }
}
